<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    id="WebApp_ID" version="3.1">

    <display-name>Lottery web App</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>BlacklistFilter</filter-name>
        <filter-class>Perform.BlacklistFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BlacklistFilter</filter-name>
        <url-pattern>/hello</url-pattern>
    </filter-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Restricted Area</web-resource-name>
            <url-pattern>/hello</url-pattern> <!-- Le chemin vers votre servlet -->
        </web-resource-collection>
        <auth-constraint>
            <role-name>tomcat</role-name> <!-- Le rôle requis pour accéder à la servlet -->
        </auth-constraint>
    </security-constraint>
</web-app>

